html(lang="en")
    head 
        title Admin 
        link(rel="stylesheet" href="../CSS/admin.css")
        script(defer type="module" src="../JS/admin.js") 
    body
        h2(id="login")= ""
        div(id="real-body")
            h1= "Velkommen til admin siden: "+navn
            h2= "Tilføj en madvogn"
            form(id="madvogn")
                p
                    |   Madvogne navn (bare så du kan kende madvogen): 
                    input(type='text', name='madvogn', value='')
                    |   Madvogns adresse (fx Regnbuevej 54):
                    input(type='text', name='Adresse', value='')
                    |   Madvogn placering i længde og breddegrader(fx 56.1631694,10.2196941):
                    input(type='text', name='Placering', value='')
                    |   Beskrivelse(noget med åbningstider):
                    input(type='text', name='Beskrivelse', value='')
                input(id = "addmadvogne",type='submit', value='Tilføj')
            h2 Tilføj en ret
            form(id="retmad")
                p
                    |   Overmenu fx forretter: 
                    input(type='text', name='overmenu', value='')
                    |   OverUnderMenu(FX kød eller vegetar)*kan godt være ingenting: 
                    input(type='text', name='undermenu', value='')
                    |   Retnavn (fx Butterchicken): 
                    input(type='text', name='retnavn', value='')
                    |   Beskrivelse 
                    input(type='text', name='beskrivelse', value='')
                    |   Pris
                    input(type='text', name='pris', value='')
                input(id="addret",type='submit', value='Tilføj')
            h2 Opdater ret
            form(id="formretmad")
                p
                    |   Overmenu fx forretter: 
                    input(type='text', name='overmenu', value='')
                    |   OverUnderMenu(FX kød eller vegetar): 
                    input(type='text', name='undermenu', value='')
                    |   Retnavn (fx Butterchicken): 
                    input(type='text', name='retnavn', value='')
                    |   Beskrivelse 
                    input(type='text', name='beskrivelse', value='')
                    |   Pris
                    input(type='text', name='pris', value='')
                input(id="upretmad",type='submit', value='Opdater')
            h2 Opdater Madvogn
            form(id="formmadvogn")
                p
                    |   Madvogne navn (bare så du kan kende madvogen): 
                    input(type='text', name='madvogn', value='')
                    |   Madvogns adresse (fx Regnbuevej 54):
                    input(type='text', name='Adresse', value='')
                    |   Madvogn placering i længde og breddegrader(fx 56.1631694,10.2196941):
                    input(type='text', name='Placering', value='')
                    |   Beskrivelse(noget med åbningstider):
                    input(type='text', name='Beskrivelse', value='')
                input(id = "upmadvogne",type='submit', value='Opdater')

            - var  madvognsobject= Object.fromEntries(madvogn);
            table
                tr
                    td= "Navn:"
                    td= "Beskrivelse:"
                    td= "Adresse:"
                    td= "Langtitude: " 
                    td= "Longtitude: "
                each val in madvognsobject 
                    tr
                        td= val.docID
                        td= val.Beskrivelse
                        td= val.Adresse
                        td= val.Placering._lat 
                        td= val.Placering._long 
            
            h2 Slet madvogne 
            - var  madvognsobject= Object.fromEntries(madvogn);
            table
                tr
                    td= "Navn:"
                    td= "Beskrivelse:"
                    td= "Adresse:"
                    td= "Langtitude: " 
                    td= "Longtitude: "
                    td= "Slet knap"
                each val in madvognsobject 
                    tr
                        td= val.docID
                        td= val.Beskrivelse
                        td= val.Adresse
                        td= val.Placering._lat 
                        td= val.Placering._long 
                        td 
                            button(id="sletKnap",data=val) slet

            h2 Slet Madretter 
            - var  retmadobject= Object.fromEntries(retmad);
            table
                tr
                    td= "Overmenu:"
                    td= "Undermenu:"
                    td= "mad ret:"
                    td= "Beskrivelse: " 
                    td= "Pris: "
                each val in retmadobject
                        each [retnavne, ret] of Object.entries(val)
                            if retnavne != "docID"
                                tr
                                    if val[retnavne].Pris == undefined
                                        each [retnavne2, ret2] of Object.entries(val[retnavne])
                                            tr
                                                td=val.docID
                                                td=retnavne
                                                td=retnavne2
                                                if ret2.Beskrivelse != undefined 
                                                    td=ret2.Beskrivelse
                                                td=ret2.Pris
                                                td 
                                                    button(id="sletField",data=[val.docID,retnavne2]) slet
                                    else
                                        td=val.docID
                                        td=retnavne
                                        if ret.Beskrivelse != undefined 
                                            td=ret.Beskrivelse
                                        td=ret.Pris
                                        td 
                                            button(id="sletDoc",data=[val.docID,retnavne2]) slet
                                    
                       
                
                            

                