HTML 
head 
    title Fejl   
    link(rel="stylesheet", href="../CSS/succes.css")

    include header.pug
body 
    div(id="succes_text")
        p1="Der skete en fejl!"
        br
        p1="Hvis dette problem opstår igen, så "
        a(href="/contact" class="a")="kontakt os "
        p1=" eller "
        a(href="/menu" class="a")="prøv igen" 
        p1="."
        br



include footer.pug 
