HTML 
head 
    title Kurv 
    link(rel="stylesheet", href="../CSS/cart.css")
    script(defer src="../JS/cancelCartEvent.js") 
    script(defer src="../JS/payCartEvent.js")
    script(defer src="../JS/quantityBtnEvent.js")
    script(defer src="../JS/stripeEventAction.js") 
    <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
    <link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>
    include header.pug
body
    div(id="modal")
                div(id="modal_content") 
                    table(id="betalingsliste") 
                        th(id="th_betal") Betal med 
                            tr(class="modal_tr")  
                                <span class="close">&times;</span>
                            tr(class="modal_tr")    
                                td(id="stripe") 
                                        img(src="/IMG/stripeLogoBlue.png" id="stripe")
                            tr(class="modal_tr")
                                td(id="kontant") 
                                    a(href="/stripe-order-succesful&verified" target="_blank")      
                                        img(src="/IMG/kontanterLogo.png" id="kontant")
                            tr(class="modal_tr")    
                                td(id="mobilepay") 
                                    a()
                                        img(src="/IMG/mobilepayLogo3.png" id="mobilepay")
    div(id="dent")
    h1(id="cartTitle") Indkøbskurv
    div(id="body")
        table(id="table")
            tr(class="cart_tr")
                th(id="th_product") Produkt 
                th(id="th_price") Pr. stk.  
                th(id="th_quantity") Antal 
                th(id="th_total") Total pris 
            each item in list
                tr(class="cart_tr")
                    td(class="tc_product")
                        img(src=`${item.imgsrc}` class="product_img")
                        p(class="product_title")= item.titel 
                    td(class="tc_price") 
                        p(class="product_price")=item.pris + " DKK"
                    td(class="tc_quantity")
                        input(type="number" min="1" max="10" value=item.quantity class="in_quantity" onkeydown="return false")
                    td(class="tc_total") 
                        p(class="product_total")=item.pris * item.quantity + " DKK"
                    td(class="tc_cancel")
                        button(class="cancel_btn" titel=item.titel quan=item.quantity)
                            img(src="../IMG/cancel.png" class="cancel") 
        div(id="kunde_info")
            form(onsubmit="return false;")
                p Navn:
                input(type="text" placeholder="Navn" class="input_kunde" id="kunde_navn" required)
                p Telefnr:
                input(type="tel" placeholder="12345678" class="input_kunde" id="kunde_tlf" required)
                p Email:
                input(type="email" placeholder="test@test.test" class="input_kunde" id="kunde_email" required)
                p Afhentings-tidspunkt (15:00 - 20:30)
                input(type="text" class="input_kunde" id="time" placeholder="Time" required)
                div(id="betaling")
                    button(class="knap" type="submit")
                        div(id="betal_text")
                            p(class="betal_txt")="Pri: " + total + " DKK"           
include footer.pug 

