HTML 
head 
    title My Cart
    link(rel="stylesheet", href="../CSS/cart.css")
    script(defer src="../JS/cancelCartEvent.js") 
    script(defer src="../JS/payCartEvent.js")
    include header.pug
body
    div(id="modal")
                div(id="modal_content") 
                    table(id ="betalingsliste") 
                        th(id="th_betal") Pay with: 
                            tr  
                                // måske mobilepay logo vil være nice 
                                <span class="close">&times;</span>
                                td(id="mobilepay") 
                                    a(href="https://www.mobilepay.dk/erhverv/fysiske-butikker/mobilepay-myshop" target="_blank")      
                                        img(src="/IMG/mobilepayLogo3.png" class="mobilepay")
    div(id="dent")
    div(id="body")
        h1(id="cartTitle") Shopping cart
        table(id="table")
            tr
                th(id="th_product") Product 
                th(id="th_price") Unit Price 
                th(id="th_quantity") Quantity 
                th(id="th_total") Total Price
            each item in list
                tr
                    td(class="tc_product")
                        img(src=`${item.imgsrc}` class="product_img")
                        p(class="product_title")= item.titel 
                    td(class="tc_price") 
                        p(class="product_price")=item.pris + " DKK"
                    td(class="tc_quantity")
                        input(type="number" min="1" max="10" value=item.quantity)
                    td(class="tc_total") 
                        p(class="product_total")=item.pris * item.quantity + " DKK"
                    td(class="tc_cancel")
                        button(class="cancel_btn" data=item.titel)
                            img(src="../IMG/cancel.png" class="cancel")
        div(id="betaling")
            button(class="knap")
                div(id="betal_text")
                    p(class="betal_txt")="Price: " + total + " DKK"           
    include footer.pug 


            

