HTML 
head 
    title Indkøbskurv
    link(rel="stylesheet", href="../CSS/cart.css")
    script(defer src="../JS/cancelCartEvent.js") 
    script(defer src="../JS/payCartEvent.js")
    script(defer src="../JS/quantityBtnEvent.js")
    script(defer src="../JS/stripeEventAction.js") 

    include header.pug
body
    div(id="modal")
                div(id="modal_content") 
                    table(id="betalingsliste") 
                        th(id="th_betal") Pay with 
                            tr(class="modal_tr")  
                                <span class="close">&times;</span>
                            tr(class="modal_tr")    
                                td(id="stripe") 
                                        img(src="/IMG/stripeLogoBlue.png" id="stripe")
                                    
                            tr(class="modal_tr")
                                td(id="kontant") 
                                    a(href="https://www.mobilepay.dk/erhverv/fysiske-butikker/mobilepay-myshop" target="_blank")      
                                        img(src="/IMG/kontanterLogo.png" id="kontant")
                            tr(class="modal_tr")    
                                td(id="mobilepay") 
                                    a(href="https://www.mobilepay.dk/erhverv/fysiske-butikker/mobilepay-myshop" target="_blank")      
                                        img(src="/IMG/mobilepayLogo3.png" id="mobilepay")
    div(id="dent")
    h1(id="cartTitle") Indkøbskurv

    div(id="body")
        table(id="table")
            tr(class="cart_tr")
                th(id="th_product") Produkt  
                th(id="th_price") Pr. stk.  
                th(id="th_quantity") Antal 
                th(id="th_total") Pris I alt 
            each item in list
                tr(class="cart_tr")
                    td(class="tc_product")
                        img(src=`${item.imgsrc}` class="product_img")
                        p(class="product_title")= item.titel 
                    td(class="tc_price") 
                        p(class="product_price")=item.pris + " DKK"
                    td(class="tc_quantity")
                        input(type="number" min="1" max="10" value=item.quantity class="in_quantity" onkeydown="return false")
                    td(class="tc_total") 
                        p(class="product_total")=item.pris * item.quantity + " DKK"
                    td(class="tc_cancel")
                        button(class="cancel_btn" titel=item.titel quan=item.quantity)
                            img(src="../IMG/cancel.png" class="cancel")
    div(id="kunde_info")
        p Navn:
        input(type="text" value="Navn" class="input_kunde" id="kunde_navn")
        p Email:
        input(type="email" value="test@test.test" class="input_kunde" id="kunde_email")
        p Afhentings-tidspunkt (15:00 - 20:30)
        input(type="time" min="15:30" max="20:15" class="input_kunde" id="time")
        div(id="betaling")
            button(class="knap")
                div(id="betal_text")
                    p(class="betal_txt")="Pris: " + total + " DKK"           
    include footer.pug 


            

